<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
  </configSections>
  <connectionStrings>
    <add name="Estacionamento.Properties.Settings.bancoestacionamentoConnectionString"
        connectionString="server=localhost;user id=root;password=Thais123;database=bancoestacionamento"
        providerName="MySql.Data.MySqlClient" />
  </connectionStrings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
  </startup>
</configuration>